
<div class="form_row_header">
    <div class="left">
        <div id="scroll_msg" class="warm_tips">
    Use ctrl + up/down to enter/quit Fullscreen (<button data-toggle="modal" data-target="#myModal" class="subtle btn btn-link">Learn more</button>)
</div>
    </div>
    <div class="right">
        
    </div>
<div class="clear"></div>
<div id="editor_configs"></div>
</div>
<div class="form_row_body">
<div class="code_form_fragment" id="codemirror_div"></div>
</div>
<div class="form_row_footer">
<div class='left'>
<span class="code_form_status_text_public"><img src="/images/network.png" width="48px" height="48px" /><strong>Public.</strong> Google will index it</span>
<span class="code_form_status_text_private" style="display:none;"><img src="/images/object-locked.png" width="48px" height="48px" /><strong>Private.</strong> Share the private access URL responsibly</span>
</div>
<div class="right">
<input type="checkbox" value="0" class="code_form_status"/>
<img src="/images/object-locked.png" width="24px" height="24px" />
<button class="btn btn-primary code_form_submit">Board Code</button>
</div>
<div class="clear"></div>
</div>
