<div class="row-fluid">
	<div class="span6">
		<h1 class="content_title">Browse Codes</h1>
	</div>
	<div class="span6">
		<div class="input-append pull-right" style="position:relative;">
		  <input id="query" name="q" placeholder="Search" style="font-size:1em;" type="text" value="">
		  <input type="hidden" id="searchMethod" value="1" />
		  <span class="btn"><i class="icon-th-list search_options"></i></span>
		  <button class="btn"><i class="icon-search"></i></button>
		  <div class="popover bottom" id="search_info">
		  		<div class="arrow"></div>
		  		<h3 class="popover-title">Search By</h3>
		  		<div class="popover-content">
             <div class="bycode btn btn-link">Keycode&nbsp;&nbsp;<i class="icon-ok"></i></div>
			  	<div class="byword btn btn-link">Keyword&nbsp;&nbsp;<i class="icon-ok" style="display:none;"></i></div>
            </div>
			  	
		  </div>
		  
		</div>
	</div>
</div>
