<div class="code">
    <div class="code_header">
        <div class="fullscreen_div">
            <img src="/images/full_screen.png" id="fullscreen">
        </div>
        <div class="tools">
        </div>
        <div class="sizer_div">
            <div class="sizer">
                <span class="smaller">A</span>
                <span class="small">A</span>
                <span class="large">A</span>
            </div>
        </div>
        <p>
            <%=language%>&nbsp;
            <label class="date">
            <span class="code_created" title="<%=created%>"></span>
            </label>
        </p>
    </div>
    <div class="code_body">
	   <div class="code_fragment" id="code_mirror_detail"></div>
    </div>
</div>