
<div class="form_row_header">
    <div class="left">
        <div id="scroll_msg" class="warm_tips text-warning">
    Use ctrl + up/down to enter/quit Fullscreen. (<a href="#help">Learn more</a>)
</div>
    </div>
    <div class="right">
        
    </div>
<div class="clear"></div>
<div id="editor_configs"></div>
</div>
<div class="form_row_body">
<div class="code_form_fragment" id="codemirror_div"></div>
</div>
<div class="form_row_footer row-fluid">
<div class="span5">
Code Key:<input type="text" id="code_key" value="<%=keycode%>" class="form_tooltip" title="You can get all history codes by it, so try to use your username or other catchy words."/>
</div>
<div class="span3 form_tooltip" title="Public:Google will index it. Private:Share access URL responsibly.">



<label class="checkbox toggle candy blue" onclick="">
		<input id="code_status_setting" type="checkbox" />
		<p>
			<span>Private</span>
			<span>Public</span>
		</p>
		
		<a class="slide-button btn"></a>
	</label>

</div>
<div class="span4" style="text-align: right;">
<button class="btn btn-primary code_form_submit">Board Code</button>
</div>
</div>
