<div class="tool reboard_button">
    <a href="#" title="Reboard">
    <img src="/images/document@2x.png">
    </a>
</div>

<div class="tool embed_button">
    <a href="#" title="Embed">
    <img src="/images/chain_link@2x.png">
    </a>
</div>

<div class="tool">
    <a href="/code/<%=id%>/download" title="Download">
    <img src="/images/arrow_down@2x.png">
    </a>
</div>

<div class="tool">
    <a href="/code/text/<%=id%>.txt" target="_blank" title="Raw">
    <img src="/images/spiral_paper@2x.png">
    </a>
</div>