<div class="tool reboard_button">
    <a href="#">
    <img src="/images/document@2x.png">
    </a>
    <label>Reboard</label>
</div>

<div class="tool embed_button">
    <a href="#">
    <img src="/images/chain_link@2x.png">
    </a>
    <label>Embed</label>
</div>

<div class="tool">
    <a href="/code/<%=id%>/download">
    <img src="/images/arrow_down@2x.png">
    </a>
    <label>Download</label>
</div>

<div class="tool">
    <a href="/code/<%=id%>/text" target="_blank">
    <img src="/images/spiral_paper@2x.png">
    </a>
    <label>Raw</label>
</div>