
<div class="form_row_header">
    <div class="left">
        <div id="scroll_msg" class="warm_tips text-warning">
    Use ctrl + up/down to enter/quit Fullscreen (<button data-toggle="modal" data-target="#myModal" class="subtle btn btn-link">Learn more</button>)
</div>
    </div>
    <div class="right">
        
    </div>
<div class="clear"></div>
<div id="editor_configs"></div>
</div>
<div class="form_row_body">
<div class="code_form_fragment" id="codemirror_div"></div>
</div>
<div class="form_row_footer row-fluid">
<form>
<div class="span4">
Code Key:<input type="text" id="code_key" class="form_tooltip" title="You can get all history codes by it, so try to use your username or other catchy words."/>
</div>
<div class="span3">
<div class="switch candy blue">
<input id="Public" name="view2" type="radio" checked>
<label for="Public" onclick="" class="form_tooltip" title="Google will index it.">Public</label>

<input id="Private" name="view2" type="radio">	
<label for="Private" onclick="" class="form_tooltip" data-placement="right" title="Share access URL responsibly.">Private</label>
<span class="slide-button"></span>
</div>
</div>
<div class="span5" style="text-align: right;">
<button class="btn btn-primary code_form_submit">Board Code</button>
</div>
</form>
</div>
