
		<div class="code_p_header">
            <div class="code_p_header_l">
			<a href="#/code/<%=id%>" data-id="<%=id%>" class="view_link">view all</a>
            <span class="date">
                <span class="code_created" title="<%=created%>"></span>
            </span>
            </div>
            <div class="tools">

            </div>
        </div>
        <div class="clear"></div>
		</div>
		<div class="code_p_body">
		
		<%=fragment.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").substring(0, 415)%>
		
		<!-- fragment.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/^(.{100}[^\s]*).*/, "$1") -->
		</div>
