<h2>Recently</h2>
<div class="content">
<% if(isNew){ %>
<img src="/images/loading_icon.gif" />
<% }else{ %>
<p><span class="statistic_label">Today</span><span class="statistic_content"><%=today%></span></p>
<p><span class="statistic_label">This week</span><span class="statistic_content"><%=week%></span></p>
<p><span class="statistic_label">This month</span><span class="statistic_content"><%=month%></span></p>
<p><span class="statistic_label">This year</span><span class="statistic_content"><%=year%></span></p>
<% } %>
</div>