
<span class="selector_options">
<div class="left">
Theme:<select class="local_theme">
<option value="default" <%=(editorTheme == 'default') ? "selected": ''%>>Default</option>
<option value="blackboard" <%=(editorTheme == 'blackboard') ? "selected": ''%>>Blackboard</option>
<option value="midnight" <%=(editorTheme == 'midnight') ? "selected": ''%>>Midnight</option>
</select>
&nbsp;&nbsp;
Language:
<select class="code_form_language">
    <% _.each(languages, function(language){%>

        <option value="<%=language.language%>" <%=(language.language == selected) ? 'selected' : ''%>>
        <%=language.language%>
        </option>
    <% })%>
</select>
&nbsp;
</div>
<div class="right">
<button class="btn" id="submit_e_config" data-loading-text="Saving...">Setting as default</button>
</div>
<div class="clear"></div>
</span>