<div class="fontoptions light">
  <select id="ffont">
    
  <option value="Anonymous-Pro">Anonymous-Pro</option><option value="Consolas">Consolas</option><option value="Inconsolata">Inconsolata</option><option value="Sax-Mono">Sax-Mono</option><option value="Ubuntu-Mono">Ubuntu-Mono</option><option value="..more..">*** more choices ***</option></select>

  <select id="fsize">
    
  <option value="8px">8px</option><option value="9px">9px</option><option value="10px">10px</option><option value="11px">11px</option><option value="12px">12px</option><option value="13px">13px</option><option value="14px">14px</option><option value="15px">15px</option><option value="16px">16px</option><option value="18px">18px</option><option value="20px">20px</option></select>
  
  <select id="ftheme">
    <option value="themes/clean">Clean (Pastie)</option>
<option value="themes/all_hallows_eve">All Hallow's Eve</option>
<option value="themes/blackboard">Blackboard</option>
<option value="themes/brilliance_black">Brilliance Black</option>
<option value="themes/cobalt">Cobalt</option>
<option value="themes/expreso_libre">Espresso Libre</option>
<option value="themes/idle">IDLE</option>
<option value="themes/mac_classic">Mac Classic</option>
<option value="themes/magicwb_amiga">MagicWB (Amiga)</option>
<option value="themes/pastels_on_dark">Pastels on Dark</option>
<option value="themes/slate">Slate</option>
<option value="themes/slush_and_poppies">Slush and Poppies</option>
<option value="themes/sunburst">Sunburst</option>
<option value="themes/sunburst_josh">Sunburst (Josh)</option>
<option value="themes/twilight">Twilight</option>
<option value="themes/vibrant_ink">Vibrant Ink</option>
  </select>
  &nbsp;
  <button class="btn">Done</button>
</div>