
  
<h1>Help</h1>


<h2>Editor Theme</h2>

<p>CodeBoard now supports some editor themes, you can choose your favourite theme in the theme dropdown.
  </p>
  
<h3 class="subtle">The full supported list:</h3>

<ul>
  <li>Blackboard</li>
  <li>Eclipse</li>
  <li>Elegant</li>
  <li>Midnight</li>
</ul>


<pre class="explain">  
</pre>
<h2>Fonts</h2>

<p>CodeBoard now supports a wide selection of fonts, although some will only appear
  if you actually have them installed on your computer.
  If a font is detected then it will be listed in the font dropdown.
  </p>
  
<h3 class="subtle">The full supported list:</h3>

<ul>
  <li>Anonymous-Pro</li>
  <li><a href="http://ftp.gnome.org/pub/GNOME/sources/ttf-bitstream-vera/1.10/">Bitstream Vera Sans Mono</a></li>
  <li>Consolas</li>
  <li><a href="http://dejavu-fonts.org/wiki/Main_Page">Deja Vu Sans Mono</a></li>
  <li><a href="http://www.droidfonts.com/">Droid Sans Mono</a> 
    (<a href="http://damieng.com/blog/2007/11/14/droid-font-family-courtesy-of-google-ascender">download</a>)</li>
  <li>Inconsolata</li>
  <li>Menlo</li>
  <li>Monaco</li>
  <li><a href="http://www.dafont.com/monofur.font">Monofur</a></li>
  <li>Panic Sans
    (bundled with <a href="http://panic.com/coda/">Coda</a> from Panic)
    </li>
  <li><a href="http://www.tobias-jung.de/seekingprofont/">ProFont</a></li>
  <li><a href="http://www.faisal.com/software/profontx/">ProFontX</a></li>
  <li><a href="http://www.proggyfonts.com/index.php?menu=download">Proggy</a></li>
  <li>Sax-Mono</li>
  <li>Ubuntu-Mono</li>
</ul>

<p>Think a really good font is missing?  Let us know at <a href="#">@June</a>.</p>

<h3 class="subtle">Use your own completely unique font</h3>

<p>If you're an uber-geek fire up your browsers JavaScript console and try the following code.  
  Refresh. Your font should now appear in the font dropdown and you can now use it
  as your default viewing font.
</p>

<pre class="explain">  
</pre>


<h2>Advanced CodeBoard</h2>



<a name="sections"></a>
<h3>Sections</h3>

<p>You can divide your paste into different sections by separating them with ## lines as shown below.</p>

<pre class="explain">
</pre>

<p>Creating just one section can effectively title your paste.</p>

<h3>Syntax highlighting sections differently</h3>

<p>You can specify a different language for each section by using it's short name.</p>

<pre class="explain">## readme.txt [plain_text]
Once upon a time in a galaxy far, far away...

## fixes.diff [diff]
bug fixes go here
</pre>

<p>Currently supported languages (and short names):</p>

<ul>
    <li>Objective-C/C++ <span class="pipe">→</span> objective-c++</li>
    <li>ActionScript <span class="pipe">→</span> actionscript</li>
    <li>Ruby <span class="pipe">→</span> ruby</li>
    <li>Ruby on Rails <span class="pipe">→</span> ruby_on_rails</li>
    <li>Diff <span class="pipe">→</span> diff</li>
    <li>Plain text <span class="pipe">→</span> plain_text</li>
    <li>C/C++ <span class="pipe">→</span> c++</li>
    <li>CSS <span class="pipe">→</span> css</li>
    <li>Java <span class="pipe">→</span> java</li>
    <li>Javascript <span class="pipe">→</span> javascript</li>
    <li>HTML / XML <span class="pipe">→</span> html</li>
    <li>HTML (ERB / Rails) <span class="pipe">→</span> html_rails</li>
    <li>Bash (shell) <span class="pipe">→</span> shell-unix-generic</li>
    <li>SQL <span class="pipe">→</span> sql</li>
    <li>PHP <span class="pipe">→</span> php</li>
    <li>Python <span class="pipe">→</span> python</li>
    <li>Pascal <span class="pipe">→</span> pascal</li>
    <li>Perl <span class="pipe">→</span> perl</li>
    <li>YAML <span class="pipe">→</span> yaml</li>
    <li>C# <span class="pipe">→</span> csharp</li>
    <li>Go <span class="pipe">→</span> go</li>
    <li>Apache (config) <span class="pipe">→</span> apache</li>
    <li>Lua <span class="pipe">→</span> lua</li>
    <li>Io <span class="pipe">→</span> io</li>
    <li>Lisp (common) <span class="pipe">→</span> lisp</li>
    <li>D <span class="pipe">→</span> d</li>
    <li>Erlang <span class="pipe">→</span> erlang</li>
    <li>Fortran <span class="pipe">→</span> fortran</li>
    <li>Haskell <span class="pipe">→</span> haskell</li>
    <li>Literate Haskell <span class="pipe">→</span> literate_haskell</li>
    <li>Makefile <span class="pipe">→</span> makefile</li>
    <li>Scala <span class="pipe">→</span> scala</li>
    <li>Scheme <span class="pipe">→</span> scheme</li>
    <li>Smarty <span class="pipe">→</span> smarty</li>
    <li>INI <span class="pipe">→</span> ini</li>
    <li>Nu <span class="pipe">→</span> nu</li>
    <li>TeX <span class="pipe">→</span> tex</li>
    <li>Clojure <span class="pipe">→</span> clojure</li>
    <li>Puppet <span class="pipe">→</span> puppet</li>
    <li>CoffeeScript <span class="pipe">→</span> coffee_script</li>
</ul>




<div class="clear"></div>