
<h1>Tools
  </h1>

  
<h3>Editors</h3>

<div class="tools">  
  
  <div class="tool">
    <img src="/images/textmate.png" width="60">
    <h3>TextMate</h3>
    <p>An absolutely amazing code editor
      for Mac OS X.  Pastie support
      right out of the box.
      <br>
      <a href="http://macromates.com/">TextMate</a>
      or
      <a href="https://github.com/textmate/textmate/downloads">TextMate 2</a>
    </p>
  </div>  
  
  <div class="tool">
    <img src="/images/sublime.png" width="60">
    <h3>Sublime Text</h3>
    <p>
      Sublime Text is a sophisticated text editor for code, markup and prose.
      <br>
      <a href="https://github.com/robcowie/SublimePaster">Get the plugin</a>
    </p>
    
  </div>
  
  
  <div class="tool">
    <img src="/images/intellij.png" width="60">
    <h3>IntelliJ IDEA</h3>
    <p>
      IntelliJ IDEA is a code-centric IDE focused on developer productivity.
      <br>
    <a href="http://tomaszdziurko.pl/2011/08/share-pastie-plugin-intellij-idea/">Get the plugin</a>
    <!-- https://github.com/softwaremill/idea-pastie-plugin -->
    </p>
    
  </div>

  <div class="tool">
    <img src="/images/visual_studio.png" width="60">
    <h3>Visual Studio</h3>
    <p>
      Visual Studio is a powerful IDE for Windows software, and now it can support Pastie.
      <br>
    <a href="http://visualstudiogallery.msdn.microsoft.com/ea23f9a7-a942-45b2-87e6-5df6ff0444ff">Get the plugin</a>
    <!-- https://github.com/softwaremill/idea-pastie-plugin -->
    </p>
    
  </div>
  <div class="tool">
    <img src="/images/netbeans.png" width="60">
    <h3>NetBeans</h3>
    <p>
      A fully-featured Java IDE written completely in Java.
      <br>
    <a href="http://plugins.netbeans.org/plugin/17453/pastie-org-plugin">Get the plugin</a>
    </p>
  </div>
  
  <div class="tool">
    <h3>VIM</h3>
    <p>
      Popular vi clone.  If you know what VIM is you'll want to check out this plugin.
    <br>
    <a href="http://www.vim.org/scripts/script.php?script_id=1624">VIM on steroids</a>
    </p>
  </div>
  
  
  <div class="tool">
    <img src="/images/emacs.png" width="60">
    <h3>Emacs</h3>
    <p>
      Emacs is an extensible, customizable text editor and so so much more.
      <br>
      <a href="http://emacswiki.org/emacs/pastie.el">Get the plugin</a>
    </p>
  </div>
  
  <div class="tool">
    <img src="/images/gedit.png" width="60">
    <h3>gedit</h3>
    <p>
      gedit is the official text editor of the GNOME desktop environment.
      <br>
    <a href="https://github.com/ivyl/gedit-pastie">Get the plugin</a>
    </p>
  </div>
  
</div>

<br style="clear:left">

<h3>Utilities</h3>

<div class="tools">
  
  <div class="tool">
    <img src="/images/codeup.png" width="60">
    <h3>CodeUp</h3>
    <p>
      Uploads your text or code in a flash using your favorite online services - including Pastie.
      <br>
    <a href="http://itunes.apple.com/us/app/codeup/id423226455">Learn more</a>
    </p>
    
  </div>
  
  <div class="tool">
    <img src="/images/launchbar.png" width="60">
    <h3>LaunchBar</h3>
    <p>
      LaunchBar is a killer launcher+ utility for OS X
      and can be made to support Pastie.
      <br>
    <a href="http://codesofa.com/blog/archive/2009/01/08/use-pastieorg-with-launchbar.html">Learn more</a>
    </p>
    
  </div>
  
  

  <!--
  <div class="tool">
    <img src="/images/pastebinit.png" width="60" />
    <h3>Pastebin it !!!</h3>
      <p>
        Pasting from console that supports many
        different paste bins.<br />
      <a href="https://launchpad.net/pastebinit">Learn more</a>
      </p>
  </div>
  -->
</div>

<div class="clear"></div>